/* You can add global styles to this file, and also import other style files */

*{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 15px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

ul{
  margin: 0;
}

