<!-- <app-loading [condition]="isLoading"></app-loading> -->

<!-- <app-toast [message]="toast.message"></app-toast> -->

<p id="title-select-type">Select Type</p>

<div class="main-lista-select-type">

    <div class="lista-select-type">
        <p class="paragraph-select-type">Accommodation</p>
        <ul class="sub-lista-select-type">
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="accommodation"> Apartment </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="accommodation"> Hotel </a>
            </li>
        </ul>
    </div>

    <div class="lista-select-type">
        <p class="paragraph-select-type">Car</p>
        <ul class="sub-lista-select-type">
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="car"> Parking, Toll, Fuel </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="car"> Hire, Rental </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="car"> KM, Miles Allowance </a>
            </li>
        </ul>
    </div>

    <div class="lista-select-type">
        <p class="paragraph-select-type">Travel</p>
        <ul class="sub-lista-select-type">
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="travel"> Taxi - Local - Multiple Entry Template </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="travel"> Rail </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="travel"> Public, Limo & Other </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="travel"> Taxi </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="travel"> Air </a>
            </li>
        </ul>
    </div>

    <div class="lista-select-type">
        <p class="paragraph-select-type">Other</p>
        <ul class="sub-lista-select-type">
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="other"> Per Diem </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="accommodation"> Telecom/Internet </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="car"> Startup Allowance </a>
            </li>
            <li class="btn btn-secondary">
                <a href="#" class="link-select-type" id="meals"> Meals and Entertainment </a>
            </li>
        </ul>
    </div>