* {
    margin-top: 20px;
}

.name {
    color: rgb(67, 79, 88);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    font-size: 13px
}

.box {
    text-align: center;
    font-size: 10px;
    font-weight: 480;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 30px;
    border: 1px solid rgb(189, 186, 186);
} 

.box:focus {
    outline: none;
    border-color: orange
}

