<div class="container">
    {{dispNumber}}
    <app-nav-myte></app-nav-myte>
    <!-- <app-envelope (numberEnvelope)='envelopeNumb($event)'></app-envelope> -->
    <!-- <app-start-expense></app-start-expense>
    <app-wexpense></app-wexpense>
    <app-person-autocomplete></app-person-autocomplete>

    <app-datepickerbegin></app-datepickerbegin>
    <app-wbs (selectionChange)='onSelectionChange($event)'></app-wbs>-->
    <app-modal-input (quantitySend)='onValueChange($event)'></app-modal-input>
    <app-select-type></app-select-type>
    <app-select-type-component> </app-select-type-component>
    <router-outlet></router-outlet>
</div>