<div class="container">
    <app-nav-myte></app-nav-myte>
    <app-envelope (numberEnvelope)='envelopeNumb($event)'></app-envelope>
    <app-modal-input (quantitySend)='onValueChange($event)'></app-modal-input>
    <app-datepickerbegin (dateSend)="onDateSend($event)"></app-datepickerbegin>
    <!-- <app-datepickerbegin></app-datepickerbegin> -->
    <!-- <app-wbs (selectionChange)='onSelectionChange($event)'></app-wbs> -->
    <!-- <app-select-type></app-select-type> -->
    <app-select-type-component> </app-select-type-component>
    <app-wexpense></app-wexpense>
    <app-person-autocomplete></app-person-autocomplete>
    <app-start-expense></app-start-expense>

    <app-qrcode></app-qrcode>

    <app-total-notas></app-total-notas>
    <app-botao-de-envio></app-botao-de-envio>
    <router-outlet></router-outlet>
</div>
