.form-control {
    background-position:95% 50%; 
    background-image: url("/assets/images/calendar.png");
    background-repeat: no-repeat;
    width:140px;
    margin-top: 27px;
    margin-left: 55px;
    margin-bottom: 0;
}


