<div class="main-datasubmit">
  <div class="calendario">

      <span class="arrowbutton">
          <i class="fas fa-angle-left"></i>
      </span>

      <!-- INPUT -->
      <input type="text"
      class="date-calendar"
      [minDate]="minDate"
      [maxDate]="maxDate"
      #dp="bsDatepicker"
      bsDatepicker [(bsValue)]="bsValue"
      placeholder="Selecione uma data"
      [bsConfig]="{containerClass: 'theme-orange'}">

      <span class="arrowbutton">
          <i class="fas fa-angle-right"></i>
      </span>

      <!-- BOTAO -->
      <button class="toggle-calendar" (click)="dp.toggle()"></button>


  </div>

  <button class="submit-date">Submit</button>


</div>



<!-- class="form-control" 
[minDate]="minDate" 
 [maxDate]="maxDate" 
#dp="bsDatepicker" 
bsDatepicker 
formControlName="myDate"
[bsConfig]="{containerClass: 'theme-orange'}"> -->