<div class="popup-add-person">
    <form action="" autocomplete="on">
        
        <div class="buscar">
            <datalist id="suggestions">
                <option class="pessoaOption" *ngFor='let p of pessoas' value="{{p}}">
            </datalist>
            <input placeholder="EID" id="color" list="suggestions" [(ngModel)]="pessoa" name="nome" (input)="escolhePessoa(nome.value)">
            
            <div id="finalizar" (click)="finalizaLista()">
                <i class="fas fa-check-circle"></i>
            </div>
            <div id="botaoAdd" (click)="addPessoa()">
                <i class="fas fa-plus-circle"></i>
            </div>
            <!-- <button id="botaoAdd" (click)="addPessoa()">Adicionar</button> -->
        </div>

        <div class="pessoasAdicionadas">
            <div class="nomeEscolhido" *ngFor='let e of escolhidos'>
                <span class="nomeDaPessoa">{{e}}</span>
                <div class="excluirPessoa" (click)="apagaEscolhido(e)">
                    <i class="fas fa-times-circle"></i>
                </div>
            </div>
        </div>


    </form>  
</div>
