.table td,
.table th {
  width: 25%;
}

/* .popup-add-person{
  width: ;
} */

.state-container-dropdown {
  position: absolute;
  z-index: 1000;
  width: 25%;
  max-height: 200px;
  background: #f6f6f6;
  overflow-y: auto;
}

.pessoa {
  padding: 10px;
  font-family: sans-serif;
}

.pessoa:hover {
  background: #e5e5e5;
}

.pessoasAdicionadas {
  background: #f0f0f0;
  max-height: 300px;
  overflow-y: auto;
}

#clickOut {
  z-index: 999;
  margin: 0px 0px 0px 0px;
  position: fixed;
  padding: 100%;
  background: rgba(0, 0, 0, 0);
}