.pessoaOption {
  padding: 10px;
  font-family: sans-serif;
}

.pessoaOption:hover {
  background: #e5e5e5;
}

.pessoasAdicionadas {
  background: #f0f0f0;
  max-height: 300px;
  overflow-y: auto;
  width: 30%;
}

.excluirPessoa {
  margin: 0px 5px 0px 5px;
  float: right;
}

.nomeEscolhido {
  padding: 5px;
}

.nomeEscolhido:hover {
  background: #e8e8e8;
}