<div *ngIf="mostrarDropDown" id="clickOut" (click)="mudaDropDown()"></div>
<div class="popup-add-person">
    <form action="" autocomplete="on">
        
        <div class="buscar">
            <datalist id="suggestions">
                <option class="pessoaOption" *ngFor='let p of pessoas' value="{{p}}">
            </datalist>
            <button (click)="addPessoa()">Adicionar</button>
            <input placeholder="buscar" id="color" list="suggestions" [(ngModel)]="pessoa" name="nome" (input)="escolhePessoa(nome.value)">
        </div>

        <div class="pessoasAdicionadas">
            <div (click)="apagaEscolhido(e)" *ngFor='let e of escolhidos'>
                {{e}}
            </div>
        </div>
    </form>
</div>
