<table class="table table-striped table-sm">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo</th>
        <th scope="col">WBS</th> 
        <th id="valor">Valor</th>
        <th scope="col">Data inicio</th>
        <th scope="col">Data fim</th>
        <th scope="col">Nota</th>
        <th scope="col">+ Pessoas</th>
    </tr>

    <tr *ngFor="let c of ServiceTest.teste"  id={{c.id}} scope="row">
        <td>{{c.id}}</td>
        <td>{{c.tipo}}</td>
        <td>{{c.wbs}}</td>
        <td><app-valor (insertValue) = 'onValueInserted($event)'></app-valor></td> 
        <td>{{c.dtInicio}}</td>
        <td>{{c.dtFim}}</td>
        <td><app-nota></app-nota></td>
        <td><span>icon</span></td>
    </tr>       
</table>

<!-- <button type="button" class="btn btn-dark" (click) = "ServiceTest.addItem('Taxi')">Gerar 1 Taxi</button>
<button type="button" class="btn btn-dark" (click) = "addItem('Apartment')">Gerar 2 Apartment </button>
<button type="button" class="btn btn-dark" (click) = "addItem('Parking')">Gerar 3 Parking</button>  -->

{{valor}}



    