.table td{
    vertical-align: middle;
    padding-top:0;  
    padding:2px;  
}

td{
    text-align: center;
    position: middle;
}


th, td{
    text-align: center;
}

    
#valor{
    width: 100px;
    text-align: center;
}

#icone{ 
    margin-top: 0;
    font-size: 25px;
    color: #FFB414;
    text-align: center;
}

#cont{
    padding-bottom: 30px; 
}

