<div class="row">
  <div class="col-xs-12 col-12 col-md-2 form-group">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <input
        class="form-control"
        [minDate]="minDate"
        [maxDate]="maxDate"
        #dp="bsDatepicker"
        bsDatepicker
        formControlName="myDate"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-orange'}" 
                
        >
        

<button class="btn btn-sucess">Submit</button>
    </form>
  </div>
  </div>





