<div class="container-fluid">

  <div class="myTe">
    <span>My Time Expense</span>
  </div>

  <!--nav-myte-->
  <div class="myMenu">
    <ul class="submenu">
      <li >Admin</li>
      <li >Reports</li>
      <li >Print</li>
      <li >Import</li>
      <li >my Receipts</li>
      <li >Circle</li>
      <li >Log out</li>
      <li >Help</li>
    </ul>
  </div>
    <!-- nav-myte-->

    <!-- Botão Dropdown -->
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
           <img src=".\assets\more.png" alt="">
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem">
          <a class="dropdown-item" href="#">Link 1</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Link 2</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Link3</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Link Externo</a>
        </li>
      </ul>
    </div>
      <!-- Botão Dropdown -->
</div>
