.button {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
}

.main-lista-select-type{
    position: relative;
    left: 40px;
    width: 1000px;
    height: 300px;
    /* max-width: 850px; */
    /* min-width: 1037px; */    
}

#accommodation{
    color: #890078;
}

#car{

    color: #ffb414;
}

#acom-div{
    width: 200px;
}

#car-div{
    width: 240px;
}

#otr-div{
    margin-left: 5px;  
    width: 260px;
}

#trv-div{
    width: 280px;
}

#travel{
    color: #008c95;
}

#id{
    color: 4b912a;
}

#meals{
    color: #c80000;
}

#other{
    color: #4b912a;
}

#title-select-type{
    position: relative;
    top: 10px;
    left: 40px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.lista-select-type{
    float: left;
    width: 25%;
    text-decoration-style: none;
    text-decoration: none;
    text-decoration-line: none;
    /* margin: 0.2rem;
    margin-left: .2rem; */
   
}

.sub-lista-select-type{
    padding: 0;
    color: white;
}

.link-select-type{
    text-decoration: none;
    color: white;
    font-size: 70%;
}


.paragraph-select-type{
    font-size: 75%;
    text-align: left;
}


