<div class="row">
  <div class="col-xs-12 col-12 col-md-2 form-group">
    <form [formGroup]="myForm">
      <input
        class="form-control"
        [minDate]="minDate"
        [maxDate]="maxDate"
        #dp="bsDatepicker"
        bsDatepicker
        formControlName="myDate"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-orange'}"
        (bsValueChange)="onDateSelected($event,bsValue)"
        
        [style.background-color]="onDateSelected()"
        (click) ="onDateInput($event.target.value)"
        >

    </form>
  </div>
  </div>





